body {
	width: 80vw;
	margin: 0 auto;
	font-family: "Space Grotesk", sans-serif;
	color: $text-color;
	overflow-x: hidden;
}

h1,
nav,
button {
	font-family: "Rajdhani", sans-serif;
}

.header,
section {
	width: 68.6vw;
	border-left: 0.28vw solid $border-page-color;
	border-right: 0.28vw solid $border-page-color;
	margin: 0 auto;
}
