@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap");

/* VERSION DESKTOP  &  MOBILE */

/* --header-- */

.backgroundGame {
	background-image: url("../Assets/Illustrations/Batgame_1.png");
	.heightHeaderGame {
		height: calc(80vw / 1.68);
		nav {
			border-bottom: none;
			#game {
				font-weight: bold;
				text-decoration: underline;
			}
		}
		.nombreQuestion {
			// affichage caché du nombre de questions opacité normale: 0; effet :hover opacity: 1
			opacity: 0;
			&:hover {
				opacity: 1;
			}
		}
		.game {
			font-family: "Rajdhani";
			font-size: 2.65vw;
			font-weight: bold;
			letter-spacing: 0.2vw;
			padding-top: 7.3vw; // rectification 7vw -> 6vw
			padding-left: 4.3vw;
		}
	}
}

/* --main-- */

main {
	section {
		background-color: $background-color;

		.down {
			padding-top: 3.5vw;
			padding-bottom: 5.2vw;
		}

		.startQuiz {
			.start {
				padding: 1.5vw;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				font-size: 2vw;
			}
			img {
				display: block;
				width: 77%;
				margin: auto;
				margin-top: 0.6vw;
				margin-bottom: 6.2vw;
			}
		}

		.quiz {
			display: none;
			.imageQuestion-1 {
				display: none;
				position: absolute;
				top: 11.5vw;
				left: 12vw;
				width: 11vw;
			}
			.imageQuestion-2 {
				display: none;
				position: absolute;
				top: 13.7vw;
				left: 11.5vw;
				width: 9vw;
			}
			.imageQuestion-3 {
				display: none;
				position: absolute;
				top: 10.5vw;
				left: 1.5vw;
				width: 22.5vw;
			}
			.imageQuestion-4 {
				display: none;
				position: absolute;
				top: 8.8vw;
				left: 11.5vw;
				width: 13.6vw;
			}
			.imageQuestion-5 {
				display: none;
				position: absolute;
				top: 16.5vw;
				left: 7.3vw;
				width: 15.3vw;
			}
			.imageQuestion-6 {
				display: none;
				.imageQuestionSix-a {
					position: absolute;
					top: 9.5vw;
					left: 11vw;
					width: 10vw;
				}
				.imageQuestionSix-b {
					position: absolute;
					top: 38.5vw;
					left: 6vw;
					width: 15vw;
				}
				.imageQuestionSix-c {
					position: absolute;
					top: 26.5vw;
					left: 57.4vw;
					width: 8.5vw;
				}
			}
			.imageQuestion-7 {
				display: none;
				position: absolute;
				top: 11.2vw;
				left: 1.5vw;
				width: 21.5vw;
			}
			.imageQuestion-8 {
				display: none;
				position: absolute;
				top: 13vw;
				left: 8.5vw;
				width: 18vw;
			}
			.imageQuestion-9 {
				display: none;
				.imageQuestionNeuf-a {
					position: absolute;
					top: 7.3vw;
					left: 8vw;
					width: 12.5vw;
				}
				.imageQuestionNeuf-b {
					position: absolute;
					top: 37.1vw;
					left: 45vw;
					width: 11vw;
				}
				.imageQuestionNeuf-c {
					position: absolute;
					top: 34.5vw;
					left: 10.5vw;
					width: 14.5vw;
				}
			}
			.imageQuestion-10 {
				display: none;
				.imageQuestionDix-a {
					position: absolute;
					top: 12.5vw;
					left: 9vw;
					width: 9.2vw;
				}
				.imageQuestionDix-b {
					position: absolute;
					top: 3.3vw;
					left: 42.2vw;
					width: 13vw;
				}
				.imageQuestionDix-c {
					position: absolute;
					top: 39vw;
					left: 42.8vw;
					width: 8.5vw;
				}
			}
			.imageQuestion-11 {
				display: none;
				position: absolute;
				top: 9.5vw;
				left: 4vw;
				width: 20vw;
			}
			.imageQuestion-12 {
				display: none;
				position: absolute;
				top: 7vw;
				left: 7.8vw;
				width: 13vw;
			}
			.imageQuestion-13 {
				display: none;
				position: absolute;
				top: 9.35vw;
				left: 5vw;
				width: 19.5vw;
			}
			.imageQuestion-14 {
				display: none;
				position: absolute;
				top: 12.3vw;
				left: 2.3vw;
				width: 22.8vw;
			}
			.imageQuestion-15 {
				display: none;
				position: absolute;
				top: 10.5vw;
				left: 7.65vw;
				width: 14vw;
			}
			.numero {
				width: 10vw;
				padding: 4vw 2vw 6vw 2vw;
				margin: 0 auto;
				text-align: center;
				font-weight: 900;
				font-size: 2vw;
			}
			.question {
				height: 3vw;
				padding-left: 24.9vw;
				font-size: 1.3vw;
				font-weight: bolder;
			}
			.wrap {
				display: flex;
				.image {
					width: 24.9vw;
					text-align: center;
				}
				.response {
					padding-right: 13.5vw;
					.res {
						width: 30.4vw;
						height: 2.6vw;
						margin: 0.7vw auto;
						display: flex;
						align-items: center;
						background-color: $drop-shadow-color;
						input {
							width: 1.6vw;
							height: 1.6vw;
							margin-left: 0.3vw;
							display: block;
							cursor: pointer;
						}
						label {
							font-size: 1.2vw;
							color: $text-color;
							margin-left: 0.65vw;
							display: flex;
							align-items: center;
						}
						span {
							font-size: 1.2vw;
							color: $text-color;
							margin-left: 0.65vw;
							opacity: 0.1; // cette partie nous dit si la réponse est vraie ou fausse donc, on la cache
						}
					}
				}
				.response div:nth-child(3) {
					margin-bottom: 9.8vw;
				}
			}
		}
		.note {
			font-size: 6vw;
			font-weight: bold;
		}

		.zzz {
			font-size: 6vw;
			font-weight: bold;
		}

		.result {
			display: none;
			img {
				width: 100%;
			}
		}

		.next {
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			font-size: 0.95vw;
			font-weight: lighter;
			color: $text-color;
			letter-spacing: 0.1vw;
			width: 19.5vw;
			height: 3.7vw;
			margin: 0 auto;
			text-align: center;
			background-color: $grey-bat;
			cursor: pointer;
		}
	}
}

/* --footer-- */

footer {
	background-color: $background-color;
	/* section footer */
	.footer {
		.footGame {
			.g {
				padding-top: 10.5vw;
			}
		}
	}
}
