@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap");

/* VERSION DESKTOP  &  MOBILE */

/* --header-- */

.backgroundHome {
	background-image: url("../Assets/Illustrations-1/Bathome1.png");
	.heightHeaderHome {
		height: calc(80vw / 1.5982242);
		nav {
			border-bottom: 0.28vw solid $border-page-color;
			#home {
				font-weight: bold;
				text-decoration: underline;
			}
		}
		.intro {
			color: $text-color;
			text-align: center;
			font-size: 1.23vw;
			padding-top: 11.2vw;
		}
		.home {
			text-align: center;
			font-size: 1.55vw;
			padding-top: 1vw;
		}
	}
}

/* --main-- */

h1 {
	color: $text-color;
	font-size: 1.8vw;
	letter-spacing: 0.1vw;
	margin: 0;
	padding-left: 4.5vw;
	padding-top: 5vw;
	padding-bottom: 1.4939vw;
}

section > .animation > p {
	width: 55vw;
	font-size: 1.23vw;
	color: $text-color;
	padding-left: 4.5vw;
	margin-bottom: 5vw;
	text-align: justify;
	span {
		letter-spacing: 0.055vw;
	}
}

section > div > .images {
	/* on met div au lieu de .animation pour avoir le minimum de specificity */
	display: flex;
	justify-content: space-evenly;
	.description {
		//position: relative;
		width: 17vw;
		font-family: "Rajdhani";
		transition: transform 400ms;
		-webkit-transition: transform 400ms;
		-moz-transition: transform 400ms;
		-ms-transition: transform 400ms;
		-o-transition: transform 400ms;
		img {
			display: block;
			width: 100%;
		}
		// insertion de la class etiquette pour la mini-description du personnage dans la class description
		.etiquette {
			visibility: hidden;
			position: relative;
			//position: absolute;
			display: grid;
			align-items: center;
			height: 5.7vw;
			top: -5.8vw;
			//bottom: 0;
			background-color: rgba(255, 255, 255, 0.1);
			// avatar du personnage
			.person {
				position: absolute;
				top: 0.4vw;
				left: 1.5vw;
				width: 3.5vw;
				border-radius: 4vw;
				-webkit-border-radius: 4vw;
				-moz-border-radius: 4vw;
				-ms-border-radius: 4vw;
				-o-border-radius: 4vw;
			}
			// cet élément est déplacé de la class description vers la class etiquette (ici)
			p {
				background: $background-button;
				color: $text-color;
				text-align: center;
				font-size: 0.7vw;
				font-weight: 900;
				padding: 0.8vw 0;
				margin-left: 2.5vw;
				margin-right: 1.7vw;
				border-radius: 3.1vw;
				-webkit-border-radius: 3.1vw;
				-moz-border-radius: 3.1vw;
				-ms-border-radius: 3.1vw;
				-o-border-radius: 3.1vw;
			}
		}
		// scale(1.2) au lieu de scale(1.1) - suivant la proportion vue dans la maquette
		&:hover {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
		}
	}
}

main {
	background-color: $background-color;

	/* section batman au cinéma */

	/* section némésis */
	section {
		&.nemesis {
			position: relative;
			h1 {
				padding-top: 6.7vw;
			}
			.bathome13 {
				width: 8vw;
				position: absolute;
				top: 2.5vw;
				left: 9.5vw;
			}
			.bathome12 {
				width: 22.5vw;
				position: absolute;
				top: 49.7vw;
				right: -5.7vw;
			}
		}
	}

	/* section alliés */

	/* section justice league */
	section {
		.justice {
			width: 53vw;
			margin: auto;
			padding-bottom: 4.75vw;
			h1 {
				padding-left: 0;
				padding-top: 6.6vw;
				padding-bottom: 1.7vw;
			}
			p {
				font-size: 1.23vw;
				color: $text-color;
				margin: 0;
				text-align: justify;
			}
		}
	}

	/* class justiceImage */
	img.justiceImage {
		width: 100%;
		position: relative;
		left: -25%;
	}

	/* section multimédia */
	.multimedia {
		.media {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2vw 4.5vw;
			.fleche {
				img {
					width: 2.3vw;
				}
			}
			.card {
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: $background-color2;
				border-top-right-radius: 0.5vw;
				border-bottom-right-radius: 0.5vw;
				color: $text-color2;
				.card-image {
					display: block;
					width: 8.5vw;
				}
				.card-text {
					height: 100%;
					padding: 0 0.8vw;
					.p1 {
						font-size: 0.65vw;
						letter-spacing: 0.1vw;
					}
					.p2 {
						font-size: 1vw;
						font-family: "Rajdhani";
						margin: 0;
					}
					.p3 {
						font-size: 0.7vw;
						span {
							color: $yellow;
						}
					}
					.text {
						font-size: 0.65vw;
					}
				}
			}
		}
		.bandeAnnonce {
			padding: 4.5vw 4.5vw 9vw 4.5vw;
			position: relative;
			img {
				display: block;
			}
			.bathome-ba2 {
				width: 100%;
			}
			.player {
				position: absolute;
				width: 11%;
				top: 37.5%;
				left: 44.3%;
				&:hover {
					filter: drop-shadow(0 0 2vw $drop-shadow-color);
					-webkit-filter: drop-shadow(0 0 2vw $drop-shadow-color);
				}
			}
		}
	}

	/* class contact */
	.contact {
		background-image: $background-color2;
		h1 {
			margin: 0;
			padding: 3vw;
			text-align: center;
			font-size: 1.7vw;
		}
		form {
			width: 50%;
			margin: auto;
			.label-email {
				label {
					font-size: 1.2vw;
				}
			}
			.email {
				input {
					width: 100%;
					background-color: transparent;
					border: none;
					border-bottom: 0.1vw solid gray;
					margin-top: 1.5vw;
					margin-bottom: 2.6vw;
					font-family: inherit;
					font-size: 0.85vw;
					letter-spacing: 0.02vw;
					word-spacing: 0.04vw;
					font-weight: lighter;
					color: gray;
				}
			}
			.label-checkbox {
				margin-bottom: 1.5vw;
				label {
					font-size: 1.2vw;
				}
			}
			.checkbox {
				p {
					font-size: 0.85vw;
					letter-spacing: 0.02vw;
					word-spacing: 0.04vw;
					font-weight: lighter;
					color: gray;
				}
				> p {
					margin-bottom: 0;
				}
				.pa {
					display: flex;
					align-items: center;
					input {
						width: 1.2vw;
						height: 1.2vw;
						display: block;
						margin-left: 0.6vw;
						color: $blue-batman;
					}
				}
			}
			.frequence {
				select {
					width: 100%;
					margin-top: 0.6vw;
					background-color: transparent;
					border: none;
					border-bottom: 0.1vw solid gray;
					font-family: "Space Grotesk";
					font-size: 0.85vw;
					letter-spacing: 0.02vw;
					word-spacing: 0.04vw;
					font-weight: lighter;
					color: gray;
					option {
						background: $background-color2;
					}
				}
			}
			.input-type-button {
				.input-disabled {
					input {
						width: 100%;
						background-color: transparent;
						border: none;
						border-bottom: 0.1vw solid $disabled-color;
						margin-top: 1.5vw;
						font-family: "Space Grotesk";
						font-size: 0.85vw;
						letter-spacing: 0.02vw;
						word-spacing: 0.04vw;
						font-weight: lighter;
						color: $disabled-color;
					}
				}
				.button {
					input {
						background-color: transparent;
						border: none;
						padding: 0.5vw 1.5vw;
						margin: 1.5vw 0.85vw;
						font-family: "Space Grotesk";
						font-size: 0.65vw;
						letter-spacing: 0.01vw;
						color: $text-color;
						cursor: pointer;
						&:hover {
							background: $background-button-hover;
						}
					}
					.gradient {
						border-style: solid;
						border-width: 0.1vw;
						border-image: linear-gradient(
								135deg,
								rgb(163, 152, 147),
								rgb(35, 129, 141)
							)
							1;
					}
				}
			}
			.message {
				.message-label {
					label {
						font-size: 1.2vw;
					}
				}
				.message-input {
					input {
						width: 100%;
						background-color: transparent;
						border: none;
						border-bottom: 0.1vw solid gray;
						margin-top: 1.5vw;
						margin-bottom: 2.6vw;
						font-family: inherit;
						font-size: 0.85vw;
						letter-spacing: 0.02vw;
						word-spacing: 0.04vw;
						font-weight: lighter;
						color: gray;
					}
				}
			}
			.confirmer {
				padding-bottom: 3vw;
			}
		}
	}
}

/* --footer-- */

footer {
	background-color: $background-color;
	/* section footer */
	.footer {
		.a {
			padding: 9.5vw;
			.b {
				img {
					width: 5.5vw;
				}
			}
			.replique {
				text-align: center;
				.c {
					font-size: 0.9vw;
					letter-spacing: 0.03vw;
					line-height: 0.5vw;
				}
				.d {
					font-size: 0.7vw;
					letter-spacing: 0.03vw;
					line-height: 0.5vw;
					color: rgb(175, 170, 170);
					padding-top: 0.3vw;
				}
				.e {
					font-size: 0.7vw;
					letter-spacing: 0.03vw;
					line-height: 0.5vw;
					color: $blue-batman;
					padding-top: 0.3vw;
				}
			}
			.f {
				float: right;
				position: relative;
				top: -3vw;
				img {
					width: 5.5vw;
				}
			}
		}
	}
}

// canvas
canvas {
	position: fixed;
	top: 0;
	//left: 0;
	pointer-events: none;
	//background-color: #000;
}
