@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap');

/* VERSION DESKTOP  &  MOBILE */

body {
    width: 80vw;
    margin: 0 auto;
    font-family: "Space Grotesk";
    color: $text-color;
}

h1,
nav,
button {
    font-family: "Rajdhani";
}

.header,
section {                   
    width: 68.6vw;
    border-left: .28vw solid $border-page-color;
    border-right: .28vw solid $border-page-color;
    margin: 0 auto;
}

.button {
    text-align: center;
}

button {
    letter-spacing: .1vw;
    font-size: .95vw;
    color: $text-color;
    background: $background-button;
    border: none;
    margin: 0;
    padding: 1.25vw 0;
    width: 14vw;
    cursor: pointer;
    &:hover {
        background: $background-button-hover;
    }
}

.intro,
.heading,
.button,
.animation,
.justice,
.contact,
.justiceImage {
    position: relative;
    animation: fadeIn 4s;
    animation-delay: 2s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
    0% { left: -70vw; opacity: 0; }
    100% { left: 0; opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { left: -70vw; opacity: 0; }
    100% { left: 0; opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { left: -70vw; opacity: 0; }
    100% { left: 0; opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { left: -70vw; opacity: 0; }
    100% { left: 0; opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { left: -70vw; opacity: 0; }
    100% { left: 0; opacity: 1; }
}

/* --header-- */

header,
.header {
    height: calc(80vw / 1.5982242);
    margin: 0 auto;
}

header {
    background-image: url("/Assets/Illustrations-1/Bathome1.png");
    background-size: 100%;
    background-color: $red-batman1;
    .header {
        nav {
            font-weight: bold;
            letter-spacing: .1vw;
            font-size: 1.5vw;
            height: 11.4vw;
            border-bottom: .28vw solid $border-page-color;
            display: flex;
            align-items: start;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 3.3vw 5vw;
            .logohome {
                width: 6.69986vw;
                height: 2.2702vw;
                background-image: url("/Assets/logos/logohome.png");
                background-size: 100%;
                cursor: pointer;
                &:hover {
                    background-image: url("/Assets/logos/logohoma.png");
                }
            }
            a {
                display: block;
                color: $text-color;
            }
        }
        .intro {
            color: $text-color;
            text-align: center;
            font-size: 1.23vw;
            padding-top: 11.2vw;
        }
        .heading {
            color: $text-color;
            text-align: center;
            font-size: 1.55vw;
            font-weight: bold;
            padding-top: 1vw;
        }
        .button {
            button {
                margin: 2.5vw 1vw;
            }
        }
        .social {
            display: inline-block;
            position: fixed;
            top: 19.3vw;
            right: 12.20vw;
            z-index: 1;             /* amelioration de l'effet hover */
            div {
                cursor: pointer;
                margin: 1.8vw auto;
            }
            .logo {
                width: 5.6vw;
                height: 3.23vw;
                &#flecheHaut {
                    background-image: url("/Assets/logos/logo_bat_flèche.png");
                    background-size: 100%;
                    &:hover {
                        background-image: url("/Assets/logos/logo_bat_flèche_a.png");
                    }
                }
                &#flecheBas {
                    background-image: url("/Assets/logos/logo_bat_flèche_2.png");
                    background-size: 100%;
                    &:hover {
                        background-image: url("/Assets/logos/logo_bat_flèche_2_a.png");
                    }
                }
            }
            .icon {
                width: 1.3vw;
                height: 1.3vw;
                &#fb {
                    background-image: url("/Assets/logos/icon_facebook.png");
                    background-size: 100%;
                    &:hover {
                        background-image: url("/Assets/logos/icon_facebook_a.png");
                    }
                }
                &#ig {
                    background-image: url("/Assets/logos/icon_ig.png");
                    background-size: 100%;
                    &:hover {
                        background-image: url("/Assets/logos/icon_igcopie.png");
                    }
                }
                &#tw {
                    background-image: url("/Assets/logos/icon_tw.png");
                    background-size: 100%;
                    &:hover {
                        background-image: url("/Assets/logos/icon_tw_a.png");
                    }
                }
            }
        }
    }
}

/* --main-- */

main {
    background-color: $background-color;
}

h1 {
    color: $text-color;
    font-size: 1.8vw;
    letter-spacing: .1vw;
    margin: 0;
    padding-left: 4.5vw;
    padding-top: 5vw;
    padding-bottom: 1.4939vw;
}

section>.animation>p {
    width: 55vw;
    font-size: 1.23vw;
    color: $text-color;
    padding-left: 4.5vw;
    margin-bottom: 5vw;
    text-align: justify;
    span {
        letter-spacing: .055vw;
    }
}

section>div>.images { /* on met div au lieu de .animation pour avoir le minimum de specificity */
    display: flex;
    justify-content: space-evenly;
    .description {
        width: 17vw;
        font-family: "Rajdhani";
        transition: transform 400ms;
        -webkit-transition: transform 400ms;
        -moz-transition: transform 400ms;
        -ms-transition: transform 400ms;
        -o-transition: transform 400ms;
        img {
            display: block;
            width: 100%;
        }
        >p {
            color: $text-color;
            text-align: center;
            font-size: 1.15vw;
            font-weight: 500;
            margin: 1.2vw 0;
        }
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}

/* section batman au cinéma */

section {
    &.batmanAuCinema {
        .flecheDown {
            display: block;
            margin: auto;
            width: 4vw;
        }
    }
}

/* section némésis */

section {
    &.nemesis {
        position: relative;
        h1 {
            padding-top: 6.7vw;
        }
        .bathome13 {
            width: 8vw;
            position: absolute;
            top: 2.5vw;
            left: 9.5vw;
        }
        .bathome12 {
            width: 22.5vw;
            position: absolute;
            top: 49.7vw;
            right: -5.7vw;
        }
    }
}

/* section alliés */

/* section justice league */

section {
    .justice {
        width: 53vw;
        margin: auto;
        padding-bottom: 4.75vw;
        h1 {
            padding-left: 0;
            padding-top: 6.6vw;
            padding-bottom: 1.7vw;
        }
        p {
            font-size: 1.23vw;
            color: $text-color;
            margin: 0;
            text-align: justify;
        }
    }
}

/* class justiceImage */

main {
    >img.justiceImage {
        display: block;
        width: 100%;
    }
}

/* section multimédia */

.multimedia {
    .media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 4.5vw;
        .fleche {
            img {
                width: 2.3vw;
            }
        }
        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: $background-color2;
            border-top-right-radius: .5vw;
            border-bottom-right-radius: .5vw;
            color: $text-color2;
            .card-image {
                display: block;
                width: 8.5vw;
            }
            .card-text {
                height: 100%;
                padding: 0 .8vw;
                .p1 {
                    font-size: .65vw;
                    letter-spacing: .1vw;
                }
                .p2 {
                    font-size: 1vw;
                    font-family: "Rajdhani";
                    margin: 0;
                }
                .p3 {
                    font-size: .7vw;
                    span {
                        color: $yellow;
                    }
                }
                .text {
                    font-size: .65vw;
                }
            }
        }
    }
    .bandeAnnonce {
        padding: 4.5vw 4.5vw 9vw 4.5vw;
        position: relative;
        img {
            display: block; 
        }
        .bathome-ba2 {
            width: 100%;
        }
        .player {
            position: absolute;
            width: 11%;
            top: 37.5%;
            left: 44.3%;
            &:hover {
                filter: drop-shadow(0 0 2vw $drop-shadow-color);
                -webkit-filter: drop-shadow(0 0 2vw $drop-shadow-color);
            }
        }
    }
}

/* class contact */

.contact {
    background-image: $background-color2;
    h1 {
        margin: 0;
        padding: 3vw;
        text-align: center;
        font-size: 1.7vw;
    }
    form {
        width: 50%;
        margin: auto;
        .label-email {
            label {
                font-size: 1.2vw;
            }
        }
        .email {
            input {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: .1vw solid gray;
                margin-top: 1.5vw;
                margin-bottom: 2.6vw;
                font-family: inherit;
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
            }
        }
        .label-checkbox {
            margin-bottom: 1.5vw;
            label {
                font-size: 1.2vw;
            }
        }
        .checkbox {
            p {
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
            }
            >p {
                margin-bottom: 0;
            }
            .pa {
                display: flex;
                align-items: center;
                input {
                    width: 1.2vw;
                    height: 1.2vw;
                    display: block;
                    margin-left: .6vw;
                    color: $blue-batman;
                }
            }
        }
        .frequence {
            select {
                width: 100%;
                margin-top: 0.6vw;
                background-color: transparent;
                border: none;
                border-bottom: .1vw solid gray;
                font-family: "Space Grotesk";
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
                option {
                    background: $background-color2;
                }
            }
        }
        .input-type-button {
            .input-disabled {
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: .1vw solid $disabled-color;
                    margin-top: 1.5vw;
                    font-family: "Space Grotesk";
                    font-size: .85vw;
                    letter-spacing: .02vw;
                    word-spacing: .04vw;
                    font-weight: lighter;
                    color: $disabled-color;
                }
            }
            .button {
                input {
                    background-color: transparent;
                    border: none;
                    padding: .5vw 1.5vw;
                    margin: 1.5vw .85vw;
                    font-family: "Space Grotesk";
                    font-size: .65vw;
                    letter-spacing: .01vw;
                    color: $text-color;
                    cursor: pointer;
                    &:hover {
                        background: $background-button-hover;
                    }
                }
                .gradient {
                    border-style: solid;
                    border-width: .1vw;
                    border-image: linear-gradient(135deg, rgb(163, 152, 147), rgb(35, 129, 141)) 1;
                }
            }
        }
        .message {
            .message-label {
                label {
                    font-size: 1.2vw;
                }
            }
            .message-input {
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: .1vw solid gray;
                    margin-top: 1.5vw;
                    margin-bottom: 2.6vw;
                    font-family: inherit;
                    font-size: .85vw;
                    letter-spacing: .02vw;
                    word-spacing: .04vw;
                    font-weight: lighter;
                    color: gray;
                }
            }
        }
        .confirmer {
            padding-bottom: 3vw;
        }
    }
}
