$yellow: #ffff00;
$yellow-batman: #f8f184;
$blue-batman: #19587d;
$red-batman: #290404;
$black-batman: #0d0c09;
$text-color2: #eddebf;
$red-batman1: #300709;
$grey-bat: #c4c4c4;
$background-color: #000000;
$text-color: #ffffff;
$drop-shadow-color: #ffffff4f;
$border-page-color: #bcbbbd2f;
$disabled-color: #b3a8a8;
$etiquette-color: #ffffff1a;
$background-button: linear-gradient(315deg, #8900089f, #eddebf5f);
$background-button-hover: linear-gradient(315deg, #890008, #eddebf);
$background-color2: linear-gradient(315deg, #19587d5f 16%, #eddebf5f 96%);
