nav {
	letter-spacing: 0.1vw;
	font-size: 1.5vw;
	height: 11.4vw;
	display: flex;
	align-items: start;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 3.3vw 5vw;
	.logohome {
		width: 6.69986vw;
		height: 2.2702vw;
		background-image: url("../Assets/logos/logohome.png");
		background-size: 100%;
		cursor: pointer;
		&:hover {
			// modification de la technique d'obtention de la couleur jaune de l'effet "hover";
			filter: invert(6%) sepia(85%) saturate(4000%) hue-rotate(6deg)
				brightness(187%) contrast(109%);
		}
	}
	.link {
		display: flex;
		a {
			display: block;
			color: $text-color;
			text-decoration: none;
			padding: 0 1vw;
			&:hover {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}
