.social-lateral {
	display: inline-block;
	position: fixed;
	top: 19.3vw;
	//top: 0;
	right: 12.1vw;
	z-index: 1; /* amelioration de l'effet hover */
	div {
		cursor: pointer;
		margin: 1.8vw auto;
	}
	.logo {
		width: 5.6vw;
		height: 3.23vw;
		&#flecheHaut {
			background-image: url("../Assets/logos/logo_bat_flèche.png");
			background-size: 100%;
			&:hover {
				// modification de la technique d'obtention de la couleur jaune de l'effet "hover";
				filter: invert(6%) sepia(85%) saturate(4000%) hue-rotate(6deg)
					brightness(187%) contrast(109%);
			}
		}
		&#flecheBas {
			background-image: url("../Assets/logos/logo_bat_flèche_2.png");
			background-size: 100%;
			&:hover {
				// modification de la technique d'obtention de la couleur jaune de l'effet "hover";
				filter: invert(6%) sepia(85%) saturate(4000%) hue-rotate(6deg)
					brightness(187%) contrast(109%);
			}
		}
	}
	.icon {
		width: 1.3vw;
		height: 1.3vw;
		&#fb {
			background-image: url("../Assets/logos/icon_facebook.png");
			background-size: 100%;
			&:hover {
				background-image: url("../Assets/logos/icon_facebook_a.png");
			}
		}
		&#ig {
			background-image: url("../Assets/logos/icon_ig.png");
			background-size: 100%;
			&:hover {
				background-image: url("../Assets/logos/icon_igcopie.png");
			}
		}
		&#tw {
			background-image: url("../Assets/logos/icon_tw.png");
			background-size: 100%;
			&:hover {
				background-image: url("../Assets/logos/icon_tw_a.png");
			}
		}
	}
}
