@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap");
.intro,
.home,
.animation,
.justice,
.contact,
.justiceImage,
.flecheDown.down,
.startQuiz,
.next,
.quiz,
.game,
.button {
  position: relative;
  animation: fadeIn 4s;
  animation-delay: 2s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    left: -70vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
body {
  width: 80vw;
  margin: 0 auto;
  font-family: "Space Grotesk";
  color: #ffffff;
}

h1,
nav,
button {
  font-family: "Rajdhani";
}

.header,
section {
  width: 68.6vw;
  border-left: 0.28vw solid rgba(188, 187, 189, 0.1843137255);
  border-right: 0.28vw solid rgba(188, 187, 189, 0.1843137255);
  margin: 0 auto;
}

.button {
  text-align: center;
}

button {
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  color: #ffffff;
  background: linear-gradient(315deg, rgba(137, 0, 8, 0.6235294118), rgba(237, 222, 191, 0.3725490196));
  border: none;
  margin: 0;
  padding: 1.25vw 0;
  width: 14vw;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(315deg, #890008, #eddebf);
}

.flecheDown {
  display: block;
  margin: auto;
  width: 4vw;
}

/* VERSION DESKTOP  &  MOBILE */
/* --header-- */
.backgroundHome {
  background-image: url("../Assets/Illustrations-1/Bathome1.png");
}
.backgroundHome .heightHeaderHome {
  height: 50.0555554096vw;
}
.backgroundHome .heightHeaderHome nav {
  border-bottom: 0.28vw solid rgba(188, 187, 189, 0.1843137255);
}
.backgroundHome .heightHeaderHome nav #home {
  font-weight: bold;
  text-decoration: underline;
}
.backgroundHome .heightHeaderHome .intro {
  color: #ffffff;
  text-align: center;
  font-size: 1.23vw;
  padding-top: 11.2vw;
}
.backgroundHome .heightHeaderHome .home {
  text-align: center;
  font-size: 1.55vw;
  padding-top: 1vw;
}

/* --main-- */
h1 {
  color: #ffffff;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 4.5vw;
  padding-top: 5vw;
  padding-bottom: 1.4939vw;
}

section > .animation > p {
  width: 55vw;
  font-size: 1.23vw;
  color: #ffffff;
  padding-left: 4.5vw;
  margin-bottom: 5vw;
  text-align: justify;
}
section > .animation > p span {
  letter-spacing: 0.055vw;
}

section > div > .images {
  /* on met div au lieu de .animation pour avoir le minimum de specificity */
  display: flex;
  justify-content: space-evenly;
}
section > div > .images .description {
  width: 17vw;
  font-family: "Rajdhani";
  transition: transform 400ms;
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -ms-transition: transform 400ms;
  -o-transition: transform 400ms;
}
section > div > .images .description img {
  display: block;
  width: 100%;
}
section > div > .images .description > p {
  color: #ffffff;
  text-align: center;
  font-size: 1.15vw;
  font-weight: 500;
  margin: 1.2vw 0;
}
section > div > .images .description:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

main {
  background-color: #000000;
  /* section batman au cinéma */
  /* section némésis */
  /* section alliés */
  /* section justice league */
  /* class justiceImage */
  /* section multimédia */
  /* class contact */
}
main section.nemesis {
  position: relative;
}
main section.nemesis h1 {
  padding-top: 6.7vw;
}
main section.nemesis .bathome13 {
  width: 8vw;
  position: absolute;
  top: 2.5vw;
  left: 9.5vw;
}
main section.nemesis .bathome12 {
  width: 22.5vw;
  position: absolute;
  top: 49.7vw;
  right: -5.7vw;
}
main section .justice {
  width: 53vw;
  margin: auto;
  padding-bottom: 4.75vw;
}
main section .justice h1 {
  padding-left: 0;
  padding-top: 6.6vw;
  padding-bottom: 1.7vw;
}
main section .justice p {
  font-size: 1.23vw;
  color: #ffffff;
  margin: 0;
  text-align: justify;
}
main img.justiceImage {
  display: block;
  width: 100%;
}
main .multimedia .media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4.5vw;
}
main .multimedia .media .fleche img {
  width: 2.3vw;
}
main .multimedia .media .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, rgba(25, 88, 125, 0.3725490196) 16%, rgba(237, 222, 191, 0.3725490196) 96%);
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  color: #eddebf;
}
main .multimedia .media .card .card-image {
  display: block;
  width: 8.5vw;
}
main .multimedia .media .card .card-text {
  height: 100%;
  padding: 0 0.8vw;
}
main .multimedia .media .card .card-text .p1 {
  font-size: 0.65vw;
  letter-spacing: 0.1vw;
}
main .multimedia .media .card .card-text .p2 {
  font-size: 1vw;
  font-family: "Rajdhani";
  margin: 0;
}
main .multimedia .media .card .card-text .p3 {
  font-size: 0.7vw;
}
main .multimedia .media .card .card-text .p3 span {
  color: #ffff00;
}
main .multimedia .media .card .card-text .text {
  font-size: 0.65vw;
}
main .multimedia .bandeAnnonce {
  padding: 4.5vw 4.5vw 9vw 4.5vw;
  position: relative;
}
main .multimedia .bandeAnnonce img {
  display: block;
}
main .multimedia .bandeAnnonce .bathome-ba2 {
  width: 100%;
}
main .multimedia .bandeAnnonce .player {
  position: absolute;
  width: 11%;
  top: 37.5%;
  left: 44.3%;
}
main .multimedia .bandeAnnonce .player:hover {
  filter: drop-shadow(0 0 2vw rgba(255, 255, 255, 0.3098039216));
  -webkit-filter: drop-shadow(0 0 2vw rgba(255, 255, 255, 0.3098039216));
}
main .contact {
  background-image: linear-gradient(315deg, rgba(25, 88, 125, 0.3725490196) 16%, rgba(237, 222, 191, 0.3725490196) 96%);
}
main .contact h1 {
  margin: 0;
  padding: 3vw;
  text-align: center;
  font-size: 1.7vw;
}
main .contact form {
  width: 50%;
  margin: auto;
}
main .contact form .label-email label {
  font-size: 1.2vw;
}
main .contact form .email input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  margin-top: 1.5vw;
  margin-bottom: 2.6vw;
  font-family: inherit;
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
main .contact form .label-checkbox {
  margin-bottom: 1.5vw;
}
main .contact form .label-checkbox label {
  font-size: 1.2vw;
}
main .contact form .checkbox p {
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
main .contact form .checkbox > p {
  margin-bottom: 0;
}
main .contact form .checkbox .pa {
  display: flex;
  align-items: center;
}
main .contact form .checkbox .pa input {
  width: 1.2vw;
  height: 1.2vw;
  display: block;
  margin-left: 0.6vw;
  color: #19587d;
}
main .contact form .frequence select {
  width: 100%;
  margin-top: 0.6vw;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  font-family: "Space Grotesk";
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
main .contact form .frequence select option {
  background: linear-gradient(315deg, rgba(25, 88, 125, 0.3725490196) 16%, rgba(237, 222, 191, 0.3725490196) 96%);
}
main .contact form .input-type-button .input-disabled input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid #ffffff;
  margin-top: 1.5vw;
  font-family: "Space Grotesk";
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: #ffffff;
}
main .contact form .input-type-button .button input {
  background-color: transparent;
  border: none;
  padding: 0.5vw 1.5vw;
  margin: 1.5vw 0.85vw;
  font-family: "Space Grotesk";
  font-size: 0.65vw;
  letter-spacing: 0.01vw;
  color: #ffffff;
  cursor: pointer;
}
main .contact form .input-type-button .button input:hover {
  background: linear-gradient(315deg, #890008, #eddebf);
}
main .contact form .input-type-button .button .gradient {
  border-style: solid;
  border-width: 0.1vw;
  border-image: linear-gradient(135deg, rgb(163, 152, 147), rgb(35, 129, 141)) 1;
}
main .contact form .message .message-label label {
  font-size: 1.2vw;
}
main .contact form .message .message-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  margin-top: 1.5vw;
  margin-bottom: 2.6vw;
  font-family: inherit;
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
main .contact form .confirmer {
  padding-bottom: 3vw;
}

/* --footer-- */
footer {
  background-color: #000000;
  /* section footer */
}
footer .footer .a {
  padding: 9.5vw;
}
footer .footer .a .b img {
  width: 5.5vw;
}
footer .footer .a .replique {
  text-align: center;
}
footer .footer .a .replique .c {
  font-size: 0.9vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
}
footer .footer .a .replique .d {
  font-size: 0.7vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
  color: rgb(175, 170, 170);
  padding-top: 0.3vw;
}
footer .footer .a .replique .e {
  font-size: 0.7vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
  color: #19587d;
  padding-top: 0.3vw;
}
footer .footer .a .f {
  float: right;
  position: relative;
  top: -3vw;
}
footer .footer .a .f img {
  width: 5.5vw;
}

/* VERSION DESKTOP  &  MOBILE */
/* --header-- */
.backgroundGame {
  background-image: url("../Assets/Illustrations/Batgame_1.png");
}
.backgroundGame .heightHeaderGame {
  height: 47.619047619vw;
}
.backgroundGame .heightHeaderGame nav {
  border-bottom: none;
}
.backgroundGame .heightHeaderGame nav #game {
  font-weight: bold;
  text-decoration: underline;
}
.backgroundGame .heightHeaderGame .nombreQuestion {
  opacity: 0;
}
.backgroundGame .heightHeaderGame .nombreQuestion:hover {
  opacity: 1;
}
.backgroundGame .heightHeaderGame .game {
  font-size: 2.55vw;
  padding-top: 6vw;
  padding-left: 4vw;
}

/* --main-- */
main section {
  background-color: #000000;
}
main section .down {
  padding-top: 3.5vw;
  padding-bottom: 5.2vw;
}
main section .startQuiz .start {
  padding: 1.5vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
}
main section .startQuiz img {
  display: block;
  width: 77%;
  margin: auto;
  margin-top: 0.6vw;
  margin-bottom: 6.2vw;
}
main section .quiz {
  display: none;
}
main section .quiz .numero {
  width: 10vw;
  padding: 4vw 2vw 6vw 2vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 2vw;
}
main section .quiz .question {
  height: 3vw;
  padding-left: 24.9vw;
  font-size: 1.3vw;
  font-weight: bolder;
}
main section .quiz .wrap {
  display: flex;
}
main section .quiz .wrap .image {
  width: 24.9vw;
  text-align: center;
}
main section .quiz .wrap .response {
  padding-right: 13.5vw;
}
main section .quiz .wrap .response .res {
  width: 30.4vw;
  height: 2.6vw;
  margin: 0.7vw auto;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3098039216);
}
main section .quiz .wrap .response .res input {
  width: 1.6vw;
  height: 1.6vw;
  margin-left: 0.3vw;
  display: block;
  cursor: pointer;
}
main section .quiz .wrap .response .res label {
  font-size: 1.2vw;
  color: #ffffff;
  margin-left: 0.65vw;
  display: flex;
  align-items: center;
}
main section .quiz .wrap .response .res span {
  font-size: 1.2vw;
  color: #ffffff;
  margin-left: 0.65vw;
  opacity: 0.7;
}
main section .quiz .wrap .response div:nth-child(3) {
  margin-bottom: 9.8vw;
}
main section .note {
  font-size: 6vw;
  font-weight: bold;
}
main section .zzz {
  font-size: 6vw;
  font-weight: bold;
}
main section .result {
  display: none;
}
main section .result img {
  width: 100%;
}
main section .next {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.95vw;
  font-weight: lighter;
  color: #ffffff;
  letter-spacing: 0.1vw;
  width: 19.5vw;
  height: 3.7vw;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  cursor: pointer;
}

/* --footer-- */
footer {
  background-color: #000000;
  /* section footer */
}
footer .footer .footGame .g {
  padding-top: 10.5vw;
}

header {
  background-size: 100%;
  background-color: #980008;
}
header .header {
  margin: 0 auto;
}
header .header .intro {
  color: #ffffff;
  text-align: center;
  font-size: 1.23vw;
  padding-top: 11.2vw;
}
header .header .heading {
  color: #ffffff;
  font-weight: bold;
}
header .header .button button {
  margin: 2.5vw 1vw;
}

nav {
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  height: 11.4vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3.3vw 5vw;
}
nav .logohome {
  width: 6.69986vw;
  height: 2.2702vw;
  background-image: url("../Assets/logos/logohome.png");
  background-size: 100%;
  cursor: pointer;
}
nav .logohome:hover {
  background-image: url("../Assets/logos/logohoma.png");
}
nav .link {
  display: flex;
}
nav .link a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0 1vw;
}
nav .link a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.social-lateral {
  display: inline-block;
  position: fixed;
  top: 19.3vw;
  right: 12.2vw;
  z-index: 1; /* amelioration de l'effet hover */
}
.social-lateral div {
  cursor: pointer;
  margin: 1.8vw auto;
}
.social-lateral .logo {
  width: 5.6vw;
  height: 3.23vw;
}
.social-lateral .logo#flecheHaut {
  background-image: url("../Assets/logos/logo_bat_flèche.png");
  background-size: 100%;
}
.social-lateral .logo#flecheHaut:hover {
  background-image: url("../Assets/logos/logo_bat_flèche_a.png");
}
.social-lateral .logo#flecheBas {
  background-image: url("../Assets/logos/logo_bat_flèche_2.png");
  background-size: 100%;
}
.social-lateral .logo#flecheBas:hover {
  background-image: url("../Assets/logos/logo_bat_flèche_2_a.png");
}
.social-lateral .icon {
  width: 1.3vw;
  height: 1.3vw;
}
.social-lateral .icon#fb {
  background-image: url("../Assets/logos/icon_facebook.png");
  background-size: 100%;
}
.social-lateral .icon#fb:hover {
  background-image: url("../Assets/logos/icon_facebook_a.png");
}
.social-lateral .icon#ig {
  background-image: url("../Assets/logos/icon_ig.png");
  background-size: 100%;
}
.social-lateral .icon#ig:hover {
  background-image: url("../Assets/logos/icon_igcopie.png");
}
.social-lateral .icon#tw {
  background-image: url("../Assets/logos/icon_tw.png");
  background-size: 100%;
}
.social-lateral .icon#tw:hover {
  background-image: url("../Assets/logos/icon_tw_a.png");
}

.g {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.6vw;
  padding-bottom: 1.4vw;
}
.g img {
  width: 1.5vw;
  display: block;
}
.g p {
  font-size: 0.6vw;
  padding-left: 0.6vw;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8vw;
}
.footer-social .sayna {
  width: 2.3vw;
  height: 2.56vw;
  margin-right: 0.6vw;
  background-image: url("../Assets/logos/logo_sayna_white.png");
  background-size: 100%;
}
.footer-social .sayna:hover {
  background-image: url("../Assets/logos/logo_sayna_yellow.png");
}
.footer-social .x {
  width: 1vw;
  height: 1vw;
  margin-right: 1vw;
  background-image: url("../Assets/logos/icon_x.png");
  background-size: 100%;
}
.footer-social .x:hover {
  background-image: url("../Assets/logos/icon_x_a.png");
}
.footer-social .dc {
  width: 2.8vw;
  height: 2.8vw;
  margin-right: 0.5vw;
  background-image: url("../Assets/logos/icon_DC.png");
  background-size: 100%;
}
.footer-social .dc:hover {
  background-image: url("../Assets/logos/icon_DC_a.png");
}
.footer-social .icon {
  width: 1.3vw;
  height: 1.3vw;
  margin-left: 1.8vw;
}
.footer-social .icon.fb {
  background-image: url("../Assets/logos/icon_facebook.png");
  background-size: 100%;
}
.footer-social .icon.fb:hover {
  background-image: url("../Assets/logos/icon_facebook_a.png");
}
.footer-social .icon.ig {
  background-image: url("../Assets/logos/icon_ig.png");
  background-size: 100%;
}
.footer-social .icon.ig:hover {
  background-image: url("../Assets/logos/icon_igcopie.png");
}
.footer-social .icon.tw {
  background-image: url("../Assets/logos/icon_tw.png");
  background-size: 100%;
}
.footer-social .icon.tw:hover {
  background-image: url("../Assets/logos/icon_tw_a.png");
}

/*# sourceMappingURL=styles.css.map */
